<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-2,4 text-center text-monospace border border-dark bg-light bg-light ml-1 mt-1">
            <p>Marketing Digital
                <br>
                <img class="img" src="../../assets/img/Empresas-de-Marketing-Digital2.jpg">
                <br>&#9997; Descrição: Explicações sobre ações de comunicação que as empresas podem utilizar por meio da
                internet, da telefonia celular e outros meios digitais, para assim divulgar e comercializar seus
                produtos.
                <br>&#8987; Duração: 2 anos
                <br>💲 Valor: R$ 150,00 por mês
                <br><br><button class="inscrever" onclick="funcaoInscreve()"> --> Inscrever-se </button>
            </p>
        </div>

        <div class="col-2,4 text-center text-monospace border border-dark bg-light ml-1 mt-1">
            <p> Empreendedorismo
                <br>
                <img class="img" src="../../assets/img/Empreendedorismo.png">
                <br>&#9997; Descrição: Empreendedorismo é a capacidade de identificar oportunidades; organizar,
                coordenar, ter iniciativa para novos negócios e desenvolver mudanças relacionadas a uma empresa, projeto
                ou outro empreendimento.
                <br>&#8987; Duração: 1 ano e 6 meses
                <br>💲 Valor: R$ 100,000 por mês
                <br><br><button class="inscrever" onclick="funcaoInscreve()"> --> Inscrever-se </button>
            </p>
        </div>
        <div class="col-2,4 text-center text-monospace border border-dark bg-light ml-1 mt-1">
            <p>Economia
                <br>
                <img class="img" src="../../assets/img/Economia.jpg">
                <br>&#9997; Descrição: Este curso atrai quem gosta de matérias como História e Geografia, tem
                curiosidade sobre como a sociedade se organiza economicamente e também possui afinidade com a
                Matemática.
                <br>&#8987; Duração: 4 anos
                <br>💲 Valor: R$ 500,00 por mês
                <br><br><button class="inscrever" onclick="funcaoInscreve()"> --> Inscrever-se </button>
            </p>
        </div>

        <div class="col-2,4 text-center text-monospace border border-dark bg-light ml-1 mt-1">
            <p>Gestão Comercial
                <br>
                <img class="img" src="../../assets/img/sistema-de-gestao-comercial.png">
                <br>&#9997; Descrição: Curso focado no planejamento financeiro, econômico e tributário das organizações,
                cuidar da imagem da empresa no mercado, definir estratégias de venda de produtos e serviços.
                <br>&#8987; Duração: 3 anos
                <br>💲 Valor: R$ 400,00 por mês
                <br><br><button class="inscrever" onclick="funcaoInscreve()"> --> Inscrever-se </button>
            </p>
        </div>

        <div class="col-2,4 text-center text-monospace border border-dark bg-light ml-1 mt-1">
            <p>Propaganda
                <br>
                <img class="img" src="../../assets/img/marketing-publicidade-e-propaganda.jpg">
                <br>&#9997; Descrição: O curso ensina um modo específico sistemático de persuadir visando influenciar
                com fins ideológicos, políticos as emoções, atitudes, opiniões ou ações do público alvo.
                <br>&#8987; Duração: 2 anos e 7 meses
                <br>💲 Valor: R$ 1000,00 por semestre
                <br><br><button class="inscrever" onclick="funcaoInscreve()"> --> Inscrever-se </button>
            </p>
        </div>
    </div>
    <div class="row justify-content-center mt-4 mb-2">
        <div class="col-10 mb-4">
            <ul class="list-group">
                <li class="list-group-item active">
                    <h5>Professores</h5>
                </li>
                <li class="list-group-item">
                    <h5>Professora Amanda Morais</h5>
                    <h6>Disciplina: Marketing Digital </h6>
                </li>
                <li class="list-group-item">
                    <h5>Professor Antonio Nonato</h5>
                    <h6>Disciplina: Empreendedorismo </h6>
                </li>
                <li class="list-group-item">
                    <h5>Professor André Silveira</h5>
                    <h6>Disciplina: Economia </h6>
                </li>
                <li class="list-group-item">
                    <h5>Professora Isadora Santos</h5>
                    <h6>Disciplina: Gestão Comercial </h6>
                </li>
                <li class="list-group-item">
                    <h5>Professora Gabriela Oliveira</h5>
                    <h6>Disciplina: Propaganda </h6>
                </li>
            </ul>
        </div>
    </div>
</div>